<head>
</head>
<mat-toolbar>
  <mat-icon style='padding-right: 10px;'>auto_stories</mat-icon>
  <span>Read And Rejoice</span>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" class='side-menu-icon'>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
      <button mat-button class="menu-items">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button mat-button class="menu-items">
          <mat-icon>menu_book</mat-icon>
          <span>My Books</span>
      </button>
      <button mat-button class="menu-items">
          <mat-icon>pageview</mat-icon>
          <span>Browse</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-items">
          <mat-icon>people</mat-icon>
          <span>Community</span>
      </button>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content">
          Main content here!
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>