<app-common-menu></app-common-menu>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
      <img src="../../assets/promos/PromoImage1.jpg" alt="" class="promoImg">
  </ng-template>  
  <ng-template carouselSlide>
    <img src="../../assets/promos/PromoImage5.jpg" alt="" class="promoImg">
  </ng-template>  
  <ng-template carouselSlide>
    <img src="../../assets/promos/PromoImage6.jpg" alt="" class="promoImg">
  </ng-template>  
  <ng-template carouselSlide>
    <img src="../../assets/promos/PromoImage7.jpg" alt="" class="promoImg">
  </ng-template>  
</owl-carousel-o>
