.wrapper{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding: 15px 15px;
    width: fit-content;
}
img{
    max-width: 100px;
    max-height: 200px;
    border: 2px solid blue;
}
.selected{
    transform: scale(1.1);
    border: 2px solid green;
}