.image{
    height:47em; background-size:cover; width:auto;
    background-image:url('../../assets/images/bookBg.png.jpg');
    background-position:60% 60%;
    padding: 0 !important;
    // position: absolute;
    left: 0px;right: 0px;top: 0px;bottom: 0px;
  }

.headLine{
    text-align: center;
    font-size: 46px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    // padding-bottom: 10%;
    font-weight: bolder;
}

.formButtons{
    font-weight: bolder;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loginBtn{
  position:sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loginBtn>button{
  font-weight: bolder;
  color: #000;
  background-color: rgb(165, 59, 236);
}

//START DUMMY

.example-card {
  max-width: 400px;
  background-color: rgb(241, 243, 232);
}

.center-content {
    margin-top: 100px;
    text-align: -webkit-center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
    margin-top: 10px;
  width: 100%;
}
.mat-button{
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
}