.image{
    height:47em; background-size:cover; width:auto;
    background-image:url('../../assets/images/bookBg.png.jpg');
    background-position:60% 60%;
    padding: 0 !important;
    // position: absolute;
    left: 0px;right: 0px;top: 0px;bottom: 0px;
  }

.headLine{
    text-align: center;
    // text-decoration: rgb(192, 32, 32);
    font-size: 46px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    font-weight: bolder;
}