<head>
</head>
<mat-toolbar>
    <mat-icon style='padding-right: 10px;'>auto_stories</mat-icon>
    <span>Read And Rejoice</span>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()" class='side-menu-icon'>
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" [(opened)]="opened" position='end'>
        <button mat-button class="menu-items" (click)="goToHome()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-items" (click)="goToMyBooks()">
            <mat-icon>menu_book</mat-icon>
            <span>My Books</span>
        </button>
        <mat-list-item [matMenuTriggerFor]="genresMenu" style="padding: 0px; margin: 0px;">
            <button mat-button>
                <mat-icon>pageview</mat-icon>
                <span>Browse</span>
            </button>
        </mat-list-item>
        <mat-menu #genresMenu="matMenu">
                <button mat-menu-item *ngFor="let genre of genres" (click)="goToGenre(genre.Id)">{{genre.Description}}</button>
        </mat-menu>
        <mat-divider></mat-divider>
        <button mat-button class="menu-items" (click)="goToCommunity()">
            <mat-icon>people</mat-icon>
            <span>Community</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content" *ngIf="this.global.activePage==='home'">
            <app-homepage></app-homepage>
        </div>
        <div class="content" *ngIf="this.global.activePage==='community'">
            <app-community></app-community>
        </div>
        <div class="content" *ngIf="this.global.activePage==='genre'">
            <app-genre-books></app-genre-books>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>