<head>
</head>
<mat-toolbar>
    <mat-icon style='padding-right: 50px;'>auto_stories</mat-icon>
    <span>Good Reads</span>
    <button mat-icon-button id="side-menu" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"
        class='side-menu-icon' autosize="true">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #drawer #sidenav="matSidenav" [(opened)]="opened" position='end' [fixedInViewport]="false">
        <label class="menu-items" style="justify-content: center;">{{username}}</label>
        <button mat-button class="menu-items" (click)="goToHome()" (mouseleave)="menuTrigger.closeMenu()">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-items" (click)="goToMyBooks()" id='side-menu-mybooks'
            (mouseleave)="menuTrigger.closeMenu()">
            <mat-icon>menu_book</mat-icon>
            <span>My Books</span>
        </button>
        <mat-list-item [matMenuTriggerFor]="genresMenu" id='side-menu-browse' #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu()">
            <button mat-button class="menu-items">
                <mat-icon>pageview</mat-icon>
                <span>Browse</span>
            </button>
        </mat-list-item>
        <mat-menu #genresMenu="matMenu" [hasBackdrop]="false">
            <button mat-menu-item *ngFor="let genre of genres" (click)="goToGenre(genre.Id)">{{genre.Name}}</button>
        </mat-menu>
        <mat-divider></mat-divider>
        <button mat-button class="menu-items" (click)="goToCommunity()" (mouseleave)="menuTrigger.closeMenu()">
            <mat-icon>people</mat-icon>
            <span>Community</span>
        </button>
        <button mat-button class="menu-items" (click)="logOut()" (mouseleave)="menuTrigger.closeMenu()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <div class="content" *ngIf="this.global.activePage==='home'">
            <app-homepage></app-homepage>
        </div>
        <div class="content" *ngIf="this.global.activePage==='community'">
            <app-community></app-community>
        </div>
        <div class="content" *ngIf="this.global.activePage==='genre'">
            <app-genre-books></app-genre-books>
        </div> -->
    </mat-sidenav-content>
</mat-sidenav-container>