img {
    max-width: 250px;
    max-height: 375px;
    // margin-left: 50px;
    // margin-top: 50px;
    border: 2px solid transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    float: left;
}

.name {
    margin-left: 280px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
}

.addme {
    float: right;
    background-color: rgb(221, 102, 102);
    color: rgb(53, 53, 142);
}

.aname {
    margin-left: 280px;
    padding-left: 15px;
    padding-top: 10px;
    font-size: large;
    font-style: italic;
    margin-top: 10px;
}

.pname {
    margin-left: 280px;
    padding-left: 15px;
    font-size: large;
    font-style: italic;
    margin-top: 30px;

}

.desc {
    margin-left: 280px;
    padding-left: 15px;
    margin-top: 10px;
}

.container {
    position: relative;
    padding-bottom: 30px;
    border-color: black;
}

.rating {
    display: inline-block;
}

.rate-title {
    display: inline-block;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
    margin-right: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}