<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <img [src]="'/assets/images/'+selectedbook.ImageName+'.jpg'" [alt]="selectedbook.Name+' not found ' "
    class="imgstyle">

  <div class="name">{{selectedbook.Name}}</div>
  <button mat-button (click)="AddToMyBooks(selectedbook)" class="addme">Add Me</button>
  <div class="aname">by {{selectedbook.AuthorName}}</div>
  <div class="pname">Pubished by {{selectedbook.PublisherName}}</div>
  <div class="desc">{{selectedbook.Description}}</div>
  <div>
    <div class="rating">
      <div class="rate-title">Average Rating</div>
      <div style="display: inline-block; margin-left: 15px;">
        <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
          <mat-icon> {{ markStar(this.getAverageRating(),i) }} </mat-icon>
        </button>
      </div>
    </div>
    <div>
      <label style="font-weight: bold;">Top Rated Books</label>
      <div *ngFor="let book of this.topBooksData" style="align-items: flex-end;">
      <img [src]="'/assets/images/'+book.ImageName+'.jpg'" [alt]="book.Name+' not found ' " [ngbTooltip]="tooltip"
        (mouseover)="showDescription(book.Name)" id="{{book.ImageName}}"
        [class.selected]="selectedTopbook?.Name===book.Name" (click)="goToBookDetails(book.ID)" style="max-width: 100px;">
      </div>
    </div>  
  </div>
</div>

<ng-template #tooltip>
  <div class="bookDesc">
      <p class="title">{{selectedTopbook.Name}}</p>
      <br> {{selectedTopbook.Description}}
  </div>
</ng-template>