<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
<img [src]="'/assets/images/'+selectedbook.ImageName+'.jpg'" [alt]="selectedbook.Name+' not found ' " class="imgstyle">
<div class="name">{{selectedbook.Name}}</div>
<div class="aname">by {{selectedbook.AuthorName}}</div>
<div class="pname">Pubished by {{selectedbook.PublisherName}}</div>
<div class="desc">{{selectedbook.Description}}</div>
<div>
<div class="rating">
    <div class="rate-title">5 Stars</div>
    <div style="display: inline-block; margin-left: 15px;">
      <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
        <mat-icon> {{ markStar(this.global.glbRating.five_stars,i) }} </mat-icon>
      </button>
    </div>
  </div>    
</div>
<div>
  <div class="rating">
    <div class="rate-title">4 Stars</div>
    <div style="display: inline-block; margin-left: 15px;">
      <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
        <mat-icon> {{ markStar(this.global.glbRating.four_stars,i) }} </mat-icon>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="rating">
    <div class="rate-title">3 Stars</div>
    <div style="display: inline-block; margin-left: 15px;">
      <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
        <mat-icon> {{ markStar(this.global.glbRating.three_stars,i) }} </mat-icon>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="rating">
    <div class="rate-title">2 Stars</div>
    <div style="display: inline-block; margin-left: 15px;">
      <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
        <mat-icon> {{ markStar(this.global.glbRating.two_stars,i) }} </mat-icon>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="rating">
    <div class="rate-title">1 Stars</div>
    <div style="display: inline-block; margin-left: 15px;">
      <button mat-icon-button color="accent" *ngFor="let r of [].constructor(5); index as i">
        <mat-icon> {{ markStar(this.global.glbRating.one_stars,i) }} </mat-icon>
      </button>
    </div>
  </div>
</div>
</div>