<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
<img [src]="'/assets/images/'+selectedbook.ImageName+'.jpg'" [alt]="selectedbook.Name+' not found ' " class="imgstyle">
<div class="name">{{selectedbook.Name}}</div>
<div class="aname">by {{selectedbook.AuthorName}}</div>
<div class="pname">Pubished by {{selectedbook.PublisherName}}</div>
<div class="desc">{{selectedbook.Description}}</div>
</div>