<app-common-menu></app-common-menu>
<div class="maindiv">
    <h3>{{this.global.genreData.Name}}</h3>
    <p>{{this.global.genreData.Description}}</p>
    <h4>BOOKS TAGGED "{{this.global.genreData.Name}}"</h4>
    <div class="wrapper" *ngIf="this.global.preGenreBooks.length>0">
        <div *ngFor="let book of this.global.preGenreBooks">
            <img [src]="'/assets/images/'+book.ImageName+'.jpg'" [alt]="book.Name+' not found ' " [ngbTooltip]="tooltip"
                (mouseover)="showDescription(book.Name)" id="{{book.ImageName}}" [class.selected]="selectedbook?.Name===book.Name" (click)="goToBookDetails(book.ID)">
        </div>
    </div>
    <div   *ngIf="this.global.preGenreBooks.length<=0">
        <mat-icon>no_backpack</mat-icon>
        <div>No Books Found</div>
    </div>
    <hr>
</div>
<ng-template #tooltip>
    <div class="bookDesc">
        {{selectedbook.PublisherName}} <br> {{selectedbook.Description}}
    </div>

</ng-template>