<app-common-menu></app-common-menu>
<div class="maindiv">
    <h3>{{this.global.genreData.Name}}</h3>
    <p>{{this.global.genreData.Description}}</p>
    <h4>BOOKS TAGGED "{{this.global.genreData.Name}}"</h4>
    <div class="wrapper">
        <div *ngFor="let book of books">
            <img [src]="'/assets/images/'+book.ImageName+'.jpg'" [alt]="book.Name+' not found ' " [ngbTooltip]="tooltip"
                (mouseover)="showDescription(book.Name)" [class.selected]="selectedbook?.Name===book.Name">
        </div>
    </div>
    <hr>
</div>
<ng-template #tooltip>
    <div class="bookDesc">
        {{selectedbook.PublisherName}} <br> {{selectedbook.Description}}
    </div>

</ng-template>