.imgname {
    height: 250px;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;

}

.imgdesc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: black;


}

.maindiv {
    align-content: center;
    margin-left: 500px;
}